.forecast-info__list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: auto;
}

.forecast-info__day {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #000;
    background: rgb(196, 194, 194);
    color: #000;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .forecast-info__list {
        justify-content: flex-start;
    }

    .forecast-info__day {
        min-width: 15rem;
    }
}